<div class="session" data-isloggedin="false"></div>

<section class="hero is-fullheight">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">
      Account Login
    </h2>
  </div>
</section>

<section class="container">
  <div class="row col-12">
    <div class="d-flex justify-content-center">
    <div class="col-6 form-signin text-center">
        <form>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
          </div>
  
          <button id="login-button" class="w-50 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>
          
          <div class="mb-3">
            <a id="create" href="#"> Don't have an account? Create one!</a>
          </div>

          <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>