<section class="hero is-fullheight">
  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">
      Account Sign-Up
    </h2>
  </div>
</section>

<section class="container">
  <div class="row col-12">
    <div class="d-flex justify-content-center">
    <div class="col-6 form-signin text-center">
        <form>
          
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
  
          <button class="w-50 btn btn-lg btn-primary mb-3" type="submit">Sign Up!</button>
          
          <div class="mb-3">
            <a id="signin" href="#"> Already have an account? Sign In!</a>
          </div>

          <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>